ami/app/jade/index.jade
doctype html
html(lang="en")
  head
    title Example page
    link(href="/static/css/style.css", rel="stylesheet")
  body(ng-app="ami")
    .container(ng-controller="Page1Controller")
      .row
        .col-xs-8.col-xs-offset-4
          h4 Enter all of the skills and technologies required for this position.

          .form-group
            input.form-control.input-lg(placeholder="Required skills...",
                                        typeahead="skill.name for skill in skills | filter:$viewValue | limitTo:10",
                                        ng-model="selected",
                                        typeahead-on-select="add($item)",
                                        typeahead-template-url="/static/html/typeahead.html")
            .help-block Please also be sure to specify the level of expertise needed for each skill

      form.form-horizontal(ng-cloak, name="skills_form")
        .form-group(ng-repeat="field in fields")
          label.col-xs-4.control-label {{ field.label }}
          .col-xs-8
            div.item(ng-repeat="(name, experience) in form[field.key]", ng-class="{active: ski}")
              label {{ name }}
              select.form-control(ng-model="form[field.key][name]", name="{{ name }}")
                option Novice
                option Competent
                option Expert
              span.glyphicon.glyphicon-remove(ng-click="delete(field.key, name)")
            .clearfix
            .help-block {{ field.help_text }}
      .col-xs-6(ng-cloak)
        h3 Chosen skills
        pre {{ form | json }}


  div.page2(ng-app="ami")
    .container(ng-controller="Page2Controller", ng-cloak)
      div.raw
        div.col-md-10
          h3 Freelancers
          div(class="well animate-repeat",
              ng-repeat="freelancer in freelancers")
            div.raw
              div.col-md-1
                img(ng-src="{{freelancer.image}}")
              div.col-md-10
                | {{ freelancer.name }}
                br
                hm-read(hmtext="{{ freelancer.short }}",
                        hmlimit="200",
                        hm-more-text="more",
                        hm-less-text="less",
                        hm-more-class="read-more",
                        hm-less-class="read-less")

            div.pull-right
              .remove.dropdown(dropdown)
                div.bt(dropdown-toggle)
                    span.glyphicon.glyphicon-remove
                .dropdown-menu
                  strong Hide
                  br
                  br
                  a(ng-click="remove($parent.$index, $index)", ng-repeat="reason in reasons")
                    .smbt
                      span.glyphicon.glyphicon-remove
                    | {{ reason.name }}
                  span.small.help-block
                    | The freelancer will not be notified. Your feedback helps oDesk improve our freelance recommendations.
            div.clearfix

        .col-xs-6(ng-cloak)
          h3 Losers
          pre {{ losers | json }}



    script(type='text/javascript', src="/static/js/script.js")

ami/build/static/html/index.html
<!DOCTYPE html><html lang="en"><head><title>Example page</title><link href="/static/css/style.css" rel="stylesheet"></head><body ng-app="ami"><div ng-controller="Page1Controller" class="container"><div class="row"><div class="col-xs-8 col-xs-offset-4"><h4>Enter all of the skills and technologies required for this position.</h4><div class="form-group"><input placeholder="Required skills..." typeahead="skill.name for skill in skills | filter:$viewValue | limitTo:10" ng-model="selected" typeahead-on-select="add($item)" typeahead-template-url="/static/html/typeahead.html" class="form-control input-lg"><div class="help-block">Please also be sure to specify the level of expertise needed for each skill</div></div></div></div><form ng-cloak name="skills_form" class="form-horizontal"><div ng-repeat="field in fields" class="form-group"><label class="col-xs-4 control-label">{{ field.label }}</label><div class="col-xs-8"><div ng-repeat="(name, experience) in form[field.key]" ng-class="{active: ski}" class="item"><label>{{ name }}</label><select ng-model="form[field.key][name]" name="{{ name }}" class="form-control"><option>Novice</option><option>Competent</option><option>Expert</option></select><span ng-click="delete(field.key, name)" class="glyphicon glyphicon-remove"></span></div><div class="clearfix"></div><div class="help-block">{{ field.help_text }}</div></div></div></form><div ng-cloak class="col-xs-6"><h3>Chosen skills</h3><pre>{{ form | json }}</pre></div></div></body><div ng-app="ami" class="page2"><div ng-controller="Page2Controller" ng-cloak class="container"><div class="raw"><div class="col-md-10"><h3>Freelancers</h3><div ng-repeat="freelancer in freelancers" class="well animate-repeat"><div class="raw"><div class="col-md-1"><img ng-src="{{freelancer.image}}"></div><div class="col-md-10">{{ freelancer.name }}<br><hm-read hmtext="{{ freelancer.short }}" hmlimit="200" hm-more-text="more" hm-less-text="less" hm-more-class="read-more" hm-less-class="read-less"></hm-read></div></div><div class="pull-right"><div dropdown class="remove dropdown"><div dropdown-toggle class="bt"><span class="glyphicon glyphicon-remove"></span></div><div class="dropdown-menu"><strong>Hide</strong><br><br><a ng-click="remove($parent.$index, $index)" ng-repeat="reason in reasons"><div class="smbt"><span class="glyphicon glyphicon-remove"></span></div>{{ reason.name }}</a><span class="small help-block">The freelancer will not be notified. Your feedback helps oDesk improve our freelance recommendations.</span></div></div></div><div class="clearfix"></div></div></div><div ng-cloak class="col-xs-6"><h3>Losers</h3><pre>{{ losers | json }}</pre></div></div></div><script type="text/javascript" src="/static/js/script.js"></script></div></html>
